In [1]:
print("hello")

hello

In [2]:
import pandas as pd

In [4]:
ser = pd.Series([4, 8, 15, 16, 23, 42])

In [5]:
type(ser)

pandas.core.series.Series

In [20]:
ser

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [7]:
val = ["a", "b", 1, 2, 5, True, False, "c", "d", "e"]
ser2 = pd.Series(val)

In [8]:
ser2

0        a
1        b
2        1
3        2
4        5
5     True
6    False
7        c
8        d
9        e
dtype: object

In [9]:
type(ser2)

pandas.core.series.Series

In [10]:
data = [['Alice', 25, 'Female'],
        ['Bob', 30, 'Male'],
        ['Claire', 27, 'Female']
       ]
df = pd.DataFrame(data, columns=['Name', 'Age', 'Gender'])

In [11]:
df.head()

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [12]:
df.dtypes

Name      object
Age        int64
Gender    object
dtype: object

In [19]:
df['Name']

0     Alice
1       Bob
2    Claire
Name: Name, dtype: object

In [44]:
%%markdown

Dataframe is a two dimensional tabular structure of the data in pandas<br>
Series is one dimensional array of data and contains only one column<br>

Although Series looks similar to a single column dataframe, but it does not contain index.. it contains only the column data as array<br>
but the single column dataframe contains both the index and data

Dataframe is a two dimensional tabular structure of the data in pandas<br>
Series is one dimensional array of data and contains only one column<br>

Although Series looks similar to a single column dataframe, but it does not contain index.. it contains only the column data as array<br>
but the single column dataframe contains both the index and data

In [26]:
data = [1000, 2000, 3000, 4000, 5000]
df = pd.DataFrame(data, columns=['Salary'])
ser= pd.Series(data)

In [25]:
df.head()

   Salary
0    1000
1    2000
2    3000
3    4000
4    5000

In [27]:
ser

0    1000
1    2000
2    3000
3    4000
4    5000
dtype: int64

In [28]:
%%markdown

##Common Functions

read_csv
read_excel
head
tail
shape
size
describe
count
columns
iloc
loc

##Common Functions

read_csv
read_excel
head
tail
shape
size
describe
count
columns
iloc
loc

In [43]:
%%markdown

Series = Immutable<br>
Dataframe = Mutable<br>
Panel = ?? (Could you please explain this concept)

Series = Immutable<br>
Dataframe = Mutable<br>
Panel = ?? (Could you please explain this concept)

In [38]:
courses = pd.Series(["Spark", "PySpark", "Hadoop"])
fees = pd.Series([22000, 25000, 23000])
discount  = pd.Series([1000, 2300, 1000])

frame = {
    "courses": courses,
    "fees": fees,
    "discount": discount
}

df = pd.DataFrame(frame)
print(df)

   courses   fees  discount
0    Spark  22000      1000
1  PySpark  25000      2300
2   Hadoop  23000      1000